html{

    height: 1000px;
  }
.project{
    display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #9e00e771;
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
  height: 900px;
  
}
.create_pr{
   color: white;
   padding-top: 20px;
   
   
}
.project img{
    background-color: white;
    padding: 80px;
    border-radius: 50px;
 
}
.create_pr h1{
    padding-bottom: 30px;
    text-align: center;
}
.create_pr a{
    background: linear-gradient(to right,#7F00FF, #D233EC, #FFD9FD);
    display:grid;
   
    width: 500px;
    padding: 20px 22px;
    border: 0;
    border-radius: 50px;
    font-weight: 900;
    text-align: center;
    font-size:38px;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    margin-bottom: 20px;
    color: #fff;
}
.block{
    display:flex;
    
}
.form{
    
    margin-top: 40px;
 
}

.input {
    background-color:#ffffff00;
    width: 500px;
    display: block;
    padding: 20px 10px;
   margin-left: auto;
   margin-right: auto;
    margin-bottom: 30px;
    border-radius: 50px ;
    border-color: #ffffff;
    
    
    font-style: normal;
    color: #fff;
  }
  .input2 {
    background-color:#ffffff00;
    width: 500px;
    height: 300px;
    display: block;
    padding: 20px 10px;
   margin-left: auto;
   margin-right: auto;
    margin-bottom: 30px;
    border-radius: 50px ;
    border-color: #ffffff;
    font-style: normal;
    color: #fff;
  }
  .project img{
    margin-left: 60px;
    height: 500px;
    margin-top: 40px;}