html{
    height: 1400px;
}
.editing{
    display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 10px;
  background-color: #9e00e760;
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
  height: 1200px;
}

.form2{
   
    margin-top: 20px;
    margin-left: 30px;
    
}
.form2 input{
    background-color:#ffffff00;
    width: 450px;
    height: 50px;
    display: block;
    padding: 20px 10px;
   margin-left: 40px;
   margin-right: auto;
    margin-bottom: 30px;
    border-radius: 50px ;
    border-color: #ffffff;
    font-style: normal;
    color: #fff;
}
input[type="text2"]{
    background-color:#ffffff00;
    width: 450px;
    height: 250px;
    display: block;
    padding: 20px 10px;
   margin-left: 40px;
   margin-right: auto;
    margin-bottom: 30px;
    border-radius: 50px ;
    border-color: #ffffff;
    font-style: normal;
    color: #fff;
}
.form1{
    margin-top: 60px;
    display: flex;
    margin-left: 70px;
    
}
.form1 input{
   
    background-color:#ffffff00;
    width: 200px;
    height: 50px;
    display: block;
    padding: 20px 10px;
   margin-right: 50px;
   
    margin-bottom: 30px;
    border-radius: 50px ;
    border-color: #ffffff;
    
    
    font-style: normal;
    color: #fff;
}
.text_edit{
    color: #979494;
    background-color: #ffffff;
    padding-right: 300px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 350px;
    margin-left:70px;
    margin-bottom: 40px;
    
}

.block11 a {
    text-decoration: none;
    color: #ffffff;
  margin-left: 70px;
  
  background: linear-gradient(to right,#7F00FF, #D233EC, #FFD9FD);
    padding: 10px 30px;
    border-radius: 20px;
  }
  .block12{
   width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
.block12 img{
    margin-top: 60px;
    background-color: white;
    padding: 170px 150px;
    border-radius: 50px;
}
.text_edit1{
    margin-top: 70px;
    color: white;
    font-size: 38px;
}
.participants{
    margin-top: 30px;
    height: 390px;
    background-color: white;
    width: 450px;
}
.participants a{
    text-decoration: none;
    color: #ffffff;
  margin-bottom: 30px;
  margin-left: 20px;
  background: linear-gradient(to right,#7F00FF, #D233EC, #FFD9FD);
    padding: 10px 30px;
    border-radius: 20px;
}
.participants p{
    padding-left: 20px;
    padding-top: 10px;
}
.btn_edit{
    padding-top: 30px;
    margin-left: 200px;
}
.btn_edit a{
    
    text-decoration: none;
    color: #ffffff;
  margin-bottom: 30px;
  margin-left: 20px;
  background:(#8000ff00);
    padding: 10px 30px;
    border: solid #D000E2 ;
    border-radius: 50px;
}