.container-info{ 

    margin-left: auto;
    margin-right: auto;
    width: 1400px;
    }
  .slider {
    
    margin-top: 20px;
    text-align: center;
    height: 490px;
    background: #B030B0;
  }
  .project{
    margin-top: 20px;
    height: 500px;
    background: #9e00e76e;
  }
  .project p{
    font-size: 28px;
    padding: 20px;
    color: #3D0957;
  }
  .project img{
    padding-left: 20px;
  }
  .project a{
    text-decoration: none;
    color: #ffffff;
    margin-right: 10px;
    background: linear-gradient(to right,#790FFF, #FF5AEE);
    padding: 20px 25px;
    border-radius:30px;
    font-size: 28px;
    
  }
  .join{
    margin-top: 20px;
    height: 500px;
    background: #9e00e76e;
  }
  .join p{
    font-size: 28px;
    padding: 20px;
    color: #3D0957;
  }
  .join img{
    padding-left: 20px;
  }
  .join a{
    text-decoration: none;
    color: #ffffff;
    margin-right: 10px;
    background: linear-gradient(to right,#790FFF, #FF5AEE);
    padding: 20px 25px;
    border-radius:30px;
    font-size: 28px;
    
  }