*{
    margin: 0;
    box-sizing: border-box;
  }
  html{
    
    background-image: url(/фон.png);
    background-size: 100%;
    height: 1800px;
  }
  body {
    
    font-family: "m-plus-1p", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 20px;
    line-height: 25px;
    text-decoration: none;
}