html{
    height: 780px;
  }
.form {
    width: 520px;
    height: 500px;
    padding: 15px;
    margin: 20px auto;
    background-color: #9e00e74a;
    border-radius: 50px;
  }

  h1{
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
    color: #fff;
    
    font-style: normal;
  }
  .input {
    background-color:#ffffff00;
    width: 300px;
    display: block;
    padding: 20px 10px;
   margin-left: auto;
   margin-right: auto;
    margin-bottom: 30px;
    border-radius: 50px;
    border: 1;
    border-color: #fff;
    
    font-style: normal;
    color: #fff;
  }
  
  .btn {
    display:grid;
    justify-content: center;
    width: 300px;
    padding: 8px 10px;
    border: 0;
    border-radius: 50px;
    background-color: #6F00A3;
    text-align: center;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    margin-bottom: 20px;
    color: #fff;
  }

  .form a{
    
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 160px;
    font-weight: 300;
  }
  
  .btn:hover {
    background-color: #980aa2;
  }